<app-nav></app-nav>
<h2>This is a test</h2>
<app-test></app-test>

<hr>
<!-- This is for testing ViewChild and ViewChildren -->
<!-- For ViewChild -->
<!-- <app-child name="Hard coded value for name"></app-child> -->
<!-- <app-child [name]="name" [city]="city"></app-child>
<p #pRef>
    This text will be replaced.
</p>
<hr> -->
<!-- For ViewChildren -->
<!-- 
<app-child name="John" city="Reston"></app-child>
<app-child name="Mary" city="NYC"></app-child>
<app-child name="Joe" city="Dallas"></app-child>
<app-child name="David" city="Chicago"></app-child>
<hr> -->
<router-outlet></router-outlet>