<h1>Directives</h1>
<h2>ngFor</h2>
<ul>
    <li *ngFor="let person of people; let i = index">
        {{ i + 1 }} - {{ person.firstname }} {{person.lastname}}
    </li>
</ul>

<h2>ngFor - Grouping</h2>
<ul *ngFor="let group of peopleByCountry">
    <li>{{ group.country }}</li>
    <ul>
        <li *ngFor="let person of group.people">{{ person.firstname }} {{ person.lastname }}
        </li>
    </ul>
</ul>

<h4>NgIf</h4>
<ul *ngFor="let person of people">
    <li *ngIf="person.age < 30">
        {{ person.firstname }} {{ person.lastname }} ({{ person.age }})
    </li>
</ul>

<!-- This won't work:
<ul *ngFor="let person of people" *ngIf="person.age < 30">
    <li>{{ person.name }}</li>
</ul> -->

<h4>NgSwitch - NgIf</h4>
<ul *ngFor="let group of peopleByCountry">
    <li *ngFor="let person of group.people">
        <div *ngIf="group.country ==='UK'">{{ person.firstname }} ({{ group.country }})
        </div>
        <div *ngIf="group.country === 'USA'">{{ person.firstname }} ({{ group.country }})
        </div>
        <div *ngIf="group.country === 'HK'">{{ person.firstname }} ({{ group.country }})
        </div>
        <div *ngIf="group.country !== 'HK' && group.country !== 'UK' && group.country !== 'USA'">{{ person.firstname }} ({{ group.country }})
        </div>
    </li>
</ul>

<h4>NgSwitch</h4>
<ul *ngFor="let group of peopleByCountry" [ngSwitch]="group.country">
    <div *ngFor="let person of group.people">
        <li *ngSwitchCase="'UK'">{{ person.firstname }} ({{ group.country }})
        </li>
        <li *ngSwitchCase="'US'">{{ person.firstname }} ({{ group.country }})
        </li>
        <li *ngSwitchCase="'HK'">{{ person.firstname }} ({{ group.country }})
        </li>
        <li *ngSwitchDefault>{{ person.firstname }} ({{ group.country }})
        </li>
    </div>
</ul>